﻿@model InventoryProject.Models.Client
@{
    ViewData["Title"] = "Add New Client";
}
    <div class="content-heading">
        <h4>Add New Client</h4>
        <a class="btn btn-primary" asp-action="Index">Back to List</a>
    </div>
    <div class="form-pos">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
