﻿@model InventoryProject.Models.Client
@{
    ViewData["Title"] = "Details";
}
@{ 
    List<Contract> contracts = new List<Contract>();
    if (ViewBag.ClientContracts != null)
    {
        contracts = ViewBag.ClientContracts;
    }
    List<Well> wells = new List<Well>();
    if (ViewBag.ClientWells != null)
    {
        wells = ViewBag.ClientWells;
    }
}

    <div class="content-heading">
        <div class="content-heading__info">
            <h4>Client - @Html.DisplayFor(model => model.Name)</h4>
            <span class="btn btn-primary js-btn-edit">Edit Name</span>
        </div>
        <div class="content-heading__form">
            <form method="post" asp-controller="Clients" asp-action="EditClient"
                  asp-route-clientId="@Model.Id">
                <input name="editName" value="@Model.Name" class="form-control" />
                <button class="btn btn-primary">Ok</button>
                <span title="discard" class="btn btn-alter btn-refresh js-btn-discard">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"><path d="m120.6 38.723c-3.312-7.713-7.766-14.367-13.36-19.961-5.595-5.594-12.248-10.05-19.962-13.361-7.713-3.314-15.805-4.97-24.278-4.97-7.984 0-15.71 1.506-23.18 4.521-7.468 3.01-14.11 7.265-19.92 12.751l-10.593-10.511c-1.63-1.684-3.503-2.064-5.622-1.141-2.173.924-3.259 2.527-3.259 4.808v36.5c0 1.412.516 2.634 1.548 3.666 1.033 1.032 2.255 1.548 3.667 1.548h36.5c2.282 0 3.884-1.086 4.807-3.259.923-2.118.543-3.992-1.141-5.622l-11.162-11.243c3.803-3.585 8.148-6.341 13.04-8.27 4.889-1.928 9.994-2.893 15.317-2.893 5.649 0 11.04 1.101 16.17 3.3 5.133 2.2 9.572 5.174 13.32 8.922 3.748 3.747 6.722 8.187 8.922 13.32 2.199 5.133 3.299 10.523 3.299 16.17 0 5.65-1.1 11.04-3.299 16.17-2.2 5.133-5.174 9.573-8.922 13.321-3.748 3.748-8.188 6.722-13.32 8.921-5.133 2.2-10.525 3.3-16.17 3.3-6.464 0-12.574-1.412-18.332-4.236-5.757-2.824-10.618-6.816-14.583-11.977-.38-.543-1-.87-1.874-.979-.815 0-1.494.244-2.037.733l-11.162 11.244c-.434.436-.665.991-.692 1.67-.027.68.15 1.29.53 1.833 5.921 7.17 13.09 12.724 21.509 16.661 8.419 3.937 17.3 5.907 26.642 5.907 8.473 0 16.566-1.657 24.279-4.97 7.713-3.313 14.365-7.768 19.961-13.361 5.594-5.596 10.05-12.248 13.361-19.961 3.313-7.713 4.969-15.807 4.969-24.279 0-8.474-1.657-16.564-4.97-24.277" transform="matrix(.12785 0 0 .12786 2.95 2.948)" fill="#ffffff" /></svg>
                </span>
            </form>
        </div>
    
    </div>
    
<div class="details-info">
    <div class="details-info__block">
        <h5>Contracts: </h5>
        @{
            foreach (var item in contracts)
            {
                <div class="details-info__item">
                    <a class="details-info__item-title" href="#">@item.ContractNumber</a>
                    <span class="btn btn-primary js-btn-edit">Edit</span>
                    @*<a asp-action="RemoveContract" asp-route-id="@item.Id" class="btn btn-alter">Remove</a>*@
                </div>
                <div class="details-info__item-form">
                    <form method="post" asp-controller="Clients" asp-action="EditContract"
                          asp-route-clientId="@Model.Id"
                          asp-route-contractId="@item.Id">
                        <input name="editContractNum" value="@item.ContractNumber" class="form-control" />
                        <button class="btn btn-primary">Ok</button>
                        <span title="discard" class="btn btn-alter btn-refresh js-btn-discard">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"><path d="m120.6 38.723c-3.312-7.713-7.766-14.367-13.36-19.961-5.595-5.594-12.248-10.05-19.962-13.361-7.713-3.314-15.805-4.97-24.278-4.97-7.984 0-15.71 1.506-23.18 4.521-7.468 3.01-14.11 7.265-19.92 12.751l-10.593-10.511c-1.63-1.684-3.503-2.064-5.622-1.141-2.173.924-3.259 2.527-3.259 4.808v36.5c0 1.412.516 2.634 1.548 3.666 1.033 1.032 2.255 1.548 3.667 1.548h36.5c2.282 0 3.884-1.086 4.807-3.259.923-2.118.543-3.992-1.141-5.622l-11.162-11.243c3.803-3.585 8.148-6.341 13.04-8.27 4.889-1.928 9.994-2.893 15.317-2.893 5.649 0 11.04 1.101 16.17 3.3 5.133 2.2 9.572 5.174 13.32 8.922 3.748 3.747 6.722 8.187 8.922 13.32 2.199 5.133 3.299 10.523 3.299 16.17 0 5.65-1.1 11.04-3.299 16.17-2.2 5.133-5.174 9.573-8.922 13.321-3.748 3.748-8.188 6.722-13.32 8.921-5.133 2.2-10.525 3.3-16.17 3.3-6.464 0-12.574-1.412-18.332-4.236-5.757-2.824-10.618-6.816-14.583-11.977-.38-.543-1-.87-1.874-.979-.815 0-1.494.244-2.037.733l-11.162 11.244c-.434.436-.665.991-.692 1.67-.027.68.15 1.29.53 1.833 5.921 7.17 13.09 12.724 21.509 16.661 8.419 3.937 17.3 5.907 26.642 5.907 8.473 0 16.566-1.657 24.279-4.97 7.713-3.313 14.365-7.768 19.961-13.361 5.594-5.596 10.05-12.248 13.361-19.961 3.313-7.713 4.969-15.807 4.969-24.279 0-8.474-1.657-16.564-4.97-24.277" transform="matrix(.12785 0 0 .12786 2.95 2.948)" fill="#ffffff" /></svg>
                        </span>
                    </form>
                </div>
            }
        }
        <span class="btn btn-primary js-form-show">Add New Contract</span>
        <div class="form-pos">
            <form method="post" asp-controller="Clients" asp-action="AddContract"
                  asp-route-clientId="@Model.Id">
                <label class="control-label">Contract Number</label>
                <input name="contractNum" class="form-control" />
                <button class="btn btn-primary">Add Contract</button>
            </form>
        </div>
    </div>

    <div class="details-info__block">
        <h5>Wells: </h5>
        @{
            foreach (var item in wells)
            {
                <div class="details-info__item">
                    <a class="details-info__item-title" href="">@item.Title</a>
                    <span class="btn btn-primary js-btn-edit">Edit</span>
                    @*<a asp-action="RemoveWell" asp-route-id="@item.Id" class="btn btn-alter">Remove</a>*@
                </div>
                <div class="details-info__item-form">
                    <form method="post" asp-controller="Clients" asp-action="EditWell"
                          asp-route-clientId="@Model.Id"
                          asp-route-wellId="@item.Id">
                        <input name="editTitle" value="@item.Title" class="form-control" />
                        <button class="btn btn-primary">Ok</button>
                        <span title="discard" class="btn btn-alter btn-refresh js-btn-discard">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"><path d="m120.6 38.723c-3.312-7.713-7.766-14.367-13.36-19.961-5.595-5.594-12.248-10.05-19.962-13.361-7.713-3.314-15.805-4.97-24.278-4.97-7.984 0-15.71 1.506-23.18 4.521-7.468 3.01-14.11 7.265-19.92 12.751l-10.593-10.511c-1.63-1.684-3.503-2.064-5.622-1.141-2.173.924-3.259 2.527-3.259 4.808v36.5c0 1.412.516 2.634 1.548 3.666 1.033 1.032 2.255 1.548 3.667 1.548h36.5c2.282 0 3.884-1.086 4.807-3.259.923-2.118.543-3.992-1.141-5.622l-11.162-11.243c3.803-3.585 8.148-6.341 13.04-8.27 4.889-1.928 9.994-2.893 15.317-2.893 5.649 0 11.04 1.101 16.17 3.3 5.133 2.2 9.572 5.174 13.32 8.922 3.748 3.747 6.722 8.187 8.922 13.32 2.199 5.133 3.299 10.523 3.299 16.17 0 5.65-1.1 11.04-3.299 16.17-2.2 5.133-5.174 9.573-8.922 13.321-3.748 3.748-8.188 6.722-13.32 8.921-5.133 2.2-10.525 3.3-16.17 3.3-6.464 0-12.574-1.412-18.332-4.236-5.757-2.824-10.618-6.816-14.583-11.977-.38-.543-1-.87-1.874-.979-.815 0-1.494.244-2.037.733l-11.162 11.244c-.434.436-.665.991-.692 1.67-.027.68.15 1.29.53 1.833 5.921 7.17 13.09 12.724 21.509 16.661 8.419 3.937 17.3 5.907 26.642 5.907 8.473 0 16.566-1.657 24.279-4.97 7.713-3.313 14.365-7.768 19.961-13.361 5.594-5.596 10.05-12.248 13.361-19.961 3.313-7.713 4.969-15.807 4.969-24.279 0-8.474-1.657-16.564-4.97-24.277" transform="matrix(.12785 0 0 .12786 2.95 2.948)" fill="#ffffff" /></svg>
                        </span>
                    </form>
                </div>
            }
        }
        <span class="btn btn-primary js-form-show">Add New Well</span>
        <div class="form-pos">
            <form method="post" asp-controller="Clients" asp-action="AddWell"
                  asp-route-clientId="@Model.Id">
                <label class="control-label">Title</label>
                <input name="title" class="form-control" />
                <button class="btn btn-primary">Add Well</button>
            </form>
        </div>
    </div>
</div>
    