﻿@model InventoryProject.Models.Equipment

@{
    ViewData["Title"] = "Add New Equipment";
}

    <div class="content-heading">
        <h4>Add New Equipment</h4>
    </div>

    <div class="form-pos">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <input asp-for="Department" class="form-control" />
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNum" class="control-label"></label>
                <input asp-for="SerialNum" class="form-control" />
                <span asp-validation-for="SerialNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiameterOuter" class="control-label"></label>
                <input asp-for="DiameterOuter" class="form-control" />
                <span asp-validation-for="DiameterOuter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiameterInner" class="control-label"></label>
                <input asp-for="DiameterInner" class="form-control" />
                <span asp-validation-for="DiameterInner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperatingTime" class="control-label"></label>
                <input asp-for="OperatingTime" class="form-control" />
                <span asp-validation-for="OperatingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperatingTimeMin" class="control-label"></label>
                <input asp-for="OperatingTimeMin" class="form-control" />
                <span asp-validation-for="OperatingTimeMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
