﻿@model InventoryProject.Models.Equipment

<div class="content-heading">
    <div class="content-heading__info">
        <h4>
            Information about equipment -
            @Html.DisplayFor(model => model.Title)
            <span class="equip-current-status">
                Status:
                @Html.DisplayFor(model => model.Status.Title)
            </span>
        </h4>
    </div>
</div>

<!-- INFO -->
<div class="form-pos form-info">
    <div class="form-info__heading">
        General information:
    </div>
    <div class="form-info__item">
        <div class="form-info__label">
            @Html.DisplayNameFor(model => model.Department)
        </div>
        <div class="form-info_data">
            @Html.DisplayFor(model => model.Department)
        </div>
    </div>
    <div class="form-info__item">
        <div class="form-info__label">
            @Html.DisplayNameFor(model => model.Category)
        </div>
        <div class="form-info_data">
            @Html.DisplayFor(model => model.Category)
        </div>
    </div>
    <div class="form-info__item">
        <div class="form-info__label">
            @Html.DisplayNameFor(model => model.Type)
        </div>
        <div class="form-info_data">
            @Html.DisplayFor(model => model.Type)
        </div>
    </div>
    <div class="form-info__item">
        <div class="form-info__label">
            @Html.DisplayNameFor(model => model.Title)
        </div>
        <div class="form-info_data">
            @Html.DisplayFor(model => model.Title)
        </div>
    </div>
    <div class="form-info__item">
        <div class="form-info__label">
            @Html.DisplayNameFor(model => model.SerialNum)
        </div>
        <div class="form-info_data">
            @Html.DisplayFor(model => model.SerialNum)
        </div>
    </div>
    <div class="form-info__item">
        <div class="form-info__label">
            @Html.DisplayNameFor(model => model.DiameterOuter)
        </div>
        <div class="form-info_data">
            @Html.DisplayFor(model => model.DiameterOuter)
        </div>
    </div>
    <div class="form-info__item">
        <div class="form-info__label">
            @Html.DisplayNameFor(model => model.DiameterInner)
        </div>
        <div class="form-info_data">
            @Html.DisplayFor(model => model.DiameterInner)
        </div>
    </div>
    <div class="form-info__item">
        <div class="form-info__label">
            @Html.DisplayNameFor(model => model.Length)
        </div>
        <div class="form-info_data">
            @Html.DisplayFor(model => model.Length)
        </div>
    </div>
    <div class="form-info__item">
        <div class="form-info__label">
            @Html.DisplayNameFor(model => model.OperatingTime)
        </div>
        <div class="form-info_data">
            <span class="hours">
                @(Model.OperatingTime / 60):@{
                    string minutes;
                    if (Model.OperatingTime % 60 < 10)
                    {
                        minutes = "0" + (Model.OperatingTime % 60);
                    }
                    else
                    {
                        minutes = (Model.OperatingTime % 60).ToString();
                    }
                    @minutes
                }
            </span>
            <span>hours</span>
        </div>
    </div>
    <div class="form-info__item">
        <div class="form-info__label">
            @Html.DisplayNameFor(model => model.OperatingTimeMin)
        </div>
        <div class="form-info_data">
            <span class="hours">
                @(Model.OperatingTimeMin / 60):@{
                    string minutes2;
                    if (Model.OperatingTimeMin % 60 < 10)
                    {
                        minutes2 = "0" + (Model.OperatingTimeMin % 60);
                    }
                    else
                    {
                        minutes2 = (Model.OperatingTimeMin % 60).ToString();
                    }
                    @minutes2
                }
            </span>
            <span>hours</span>
        </div>
    </div>
    <div class="btn btn-primary js-btn-edit">Edit information</div>
</div>

<!-- EDIT FORM -->
<div class="form-pos hidden">
    <form asp-controller="Equipment" asp-action="EditEquipment" method="post" asp-route-equipmentId="@Model.Id">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Department" class="control-label"></label>
            <input name="editDepartment" required value="@Model.Department" class="form-control" />
            <span asp-validation-for="Department" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Category" class="control-label"></label>
            <input name="editCategory" required value="@Model.Category" class="form-control" />
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Type" class="control-label"></label>
            <input name="editType" required value="@Model.Type" class="form-control" />
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input name="editTitle" required value="@Model.Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SerialNum" class="control-label"></label>
            <input name="editSerialNum" required value="@Model.SerialNum" class="form-control" />
            <span asp-validation-for="SerialNum" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DiameterOuter" class="control-label"></label>
            <input name="editDiameterOuter" required type="number" value="@Model.DiameterOuter" class="form-control" />
            <span asp-validation-for="DiameterOuter" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DiameterInner" class="control-label"></label>
            <input name="editDiameterInner" required type="number" value="@Model.DiameterInner" class="form-control" />
            <span asp-validation-for="DiameterInner" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Length" class="control-label"></label>
            <input name="editLength" required type="number" value="@Model.Length" class="form-control" />
            <span asp-validation-for="Length" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="OperatingTime" class="control-label"></label>
            <input name="editOperatingTime" required type="number" value="@(Model.OperatingTime / 60)" min="0" class="form-control" />
            <span asp-validation-for="OperatingTime" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="OperatingTimeMin" class="control-label"></label>
            <input name="editOperatingTimeMin" required type="number" value="@(Model.OperatingTimeMin / 60)" min="0" class="form-control" />
            <span asp-validation-for="OperatingTimeMin" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save changes" class="btn btn-primary" />
        </div>
    </form>
</div>

<!-- DAILY NOTES -->
@{
    ViewData["Controller"] = "Equipment";
    ViewData["EquipmentId"] = Model.Id;
    ViewData["EntityType"] = "General";
    ViewData["EntityId"] = null;
    ViewData["Heading"] = "Daily notes";
    <partial name="_FormAddNote" view-data="ViewData" />
}

<!-- OPEN ORDER -->
@if (Model.Status.Title == "RFU")
{
    <span class="btn btn-primary js-form-show btn-auto">Open Working Order</span>
    <div class="form-pos hidden">
        <form asp-controller="Equipment" asp-action="OpenOrder" id="formOpenOrder" asp-route-equipmentId="@Model.Id">
            @if (ViewBag.ClientList != null)
            {
                <div class="form-group">
                    <label class="control-label">Client</label>
                    <select name="orderClient" class="form-select" asp-items="@(new SelectList(ViewBag.ClientList, "Id", "Name"))">
                        <option value="-1">Select</option>
                    </select>
                    <span class="text-danger hidden">Client must be selected</span>
                </div>
                <!-- Options in each next select should be loaded after previous select change -->
                <div class="form-group">
                    <label class="control-label">Contract</label>
                    <select disabled name="orderContract" class="form-select">
                        <optgroup data-client="-1">
                            <option value="-1">No active contracts</option>
                        </optgroup>
                        @{
                            if (ViewBag.ContractList != null)
                            {
                                List<Contract> contracts = ViewBag.ContractList;
                                int i = 0;
                                while (i < contracts.Count)
                                {
                                    <optgroup label="@contracts[i].Client.Name" data-client="@contracts[i].Client.Id">
                                        @{
                                            var j = contracts[i].Client.Id;
                                            while (i < contracts.Count && contracts[i].Client.Id == j)
                                            {
                                                <option value="@contracts[i].Id">@contracts[i].ContractNumber</option>
                                                i++;
                                            }
                                        }
                                    </optgroup>
                                }
                            }
                        }
                    </select>
                    <span class="text-danger hidden">Contract must be selected</span>
                </div>
                <div class="form-group">
                    <label class="control-label">Well</label>
                    <select disabled name="orderWell" class="form-select">
                        <optgroup data-client="-1">
                            <option value="-1">No active wells</option>
                        </optgroup>
                        @{
                            if (ViewBag.WellList != null)
                            {
                                List<Well> wells = ViewBag.WellList;
                                int i = 0;
                                while (i < wells.Count)
                                {
                                    <optgroup label="@wells[i].Client.Name" data-client="@wells[i].Client.Id">
                                        @{
                                            var j = wells[i].Client.Id;
                                            while (i < wells.Count && wells[i].Client.Id == j)
                                            {
                                                <option value="@wells[i].Id">@wells[i].Title</option>
                                                i++;
                                            }
                                        }
                                    </optgroup>
                                }
                            }
                        }
                    </select>
                    <span class="text-danger hidden">Well must be selected</span>
                </div>
                <button class="btn btn-primary">Open Order</button>
            }
            else
            {
                <p>There is no Clients</p>
            }
        </form>
    </div>
}
<!-- ORDER INFO -->
@if (Model.Status.Title == "JF" && ViewBag.Order != null)
{
    ViewData["Controller"] = "Equipment";
    ViewData["History"] = ViewBag.History;
    <partial name="_OrderDetails" model="ViewBag.Order" view-data="ViewData" />
}

<!-- START MAINTENANCE -->
@if (Model.Status.Title == "WS")
{
    <a asp-action="StartMaintenance" asp-route-id="@Model.Id" class="btn btn-primary btn-auto">Start Maintenance</a>
}
<!-- MAINTENANCE INFO -->
@if (Model.Status.Title == "SP" || Model.Status.Title == "RP")
{
    ViewData["Controller"] = "Equipment";
    ViewData["Scans"] = ViewBag.Scans;
    ViewData["History"] = ViewBag.History;
    <partial name="_MaintenanceDetails" model="ViewBag.Maintenance" view-data="ViewData" />
}

<!-- HISTORY -->
@{
    ViewData["History"] = ViewBag.History;
    ViewData["Type"] = "General";
    <partial name="_History" view-data="ViewData" />
}

<!-- WARNING -->
@if (Model.Status.Title != "SP" && Model.Status.Title != "RP" && Model.OperatingTime <= Model.OperatingTimeMin)
{
    if (Model.OperatingTime != 0)
    {
        <div class="alert-message alert-message-warning">
            <p> Warning! Equipments resource is depleting. </p>
        </div>
    }
    else
    {
        <div class="alert-message alert-message-danger">
            <p> Warning! Equipment must be scheduled for maintenance. </p>
        </div>
    }
}
