﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InventoryProject</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>

    <div class="main">
        <!-- HEADER -->
        <header class="header">
            <div class="container">
                <h1 class="header-heading">InventoryProject</h1>
                <div class="header-nav">
                    <span class="header-nav__icon"><i></i></span>
                    <div class="header-nav__container">
                        <a asp-controller="Equipment" asp-action="Index" class="header-nav__item">Equipment</a>
                        <a asp-controller="Clients" asp-action="Index" class="header-nav__item">Clients</a>
                        <a asp-controller="Orders" asp-action="Index" class="header-nav__item">Orders</a>
                        <a asp-controller="Maintenance" asp-action="Index" class="header-nav__item">Maintenance</a>
                    </div>                    
                </div>
            </div>
        </header>

        <!-- CONTENT -->
        <div class="content">
            <div class="container">

                @RenderBody()

            </div>
        </div>

        <!-- FOOTER -->
        <footer class="footer">
            <p class="footer-copyright">
                &copy; 2020 - Infocom LTD, Kateryna Sahaidak
            </p>
        </footer>
    </div>

    <script src="~/js/jquery-simple-pagination-plugin.js" asp-append-version="true"></script>
    <script src="~/js/jquery.fancybox.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
