﻿@model InventoryProject.Models.Maintenance
    <div class="form-pos form-info block-width-100">
        <div class="form-info__heading">
            Maintenance Order #@(Model.Title):
        </div>
        @if ((string)@ViewData["Controller"] == "Maintenance")
        {
            <div class="form-info__note">
                Status:
                @if (@Model.IsOpen)
                {
                    <span>Open</span>
                }
                else
                {
                    <span>Closed</span>
                }
            </div>
        }

        @if ((string)@ViewData["Controller"] == "Maintenance")
        {
            <div class="form-info__item">
                <div class="form-info__label">Equipment</div>
                <div class="form-info_data">
                    <a asp-controller="Equipment" asp-action="Details" asp-route-id="@Model.Equipment.Id">
                        @Model.Equipment.Title,
                        <br /> @Model.Equipment.Type,
                        <br /> @Model.Equipment.Category,
                        <br /> @Model.Equipment.Department
                    </a>
                </div>
            </div>
        }

        <div class="form-info__item">
            <div class="form-info__label">Started: </div>
            <div class="form-info_data">
                @Model.MaintenanceStart
            </div>
        </div>
        @if (Model.IsOpen == true)
        {
            @if (Model.MaintenanceExpectedFinish < Model.MaintenanceStart)
            {
                <div class="form-pos form-due-date">
                    <form method="post" asp-controller="Shared" asp-action="SetMaintenanceDueDate"
                          asp-route-controllerId="@ViewData["Controller"]"
                          asp-route-equipmentId="@Model.Equipment.Id"
                          asp-route-maintenanceId="@Model.Id">
                        <div class="form-group">
                            <label class="control-label">Set Due date</label>
                            <input required name="dueDate" type="date" class="form-control" />
                        </div>
                        <button class="btn btn-primary btn-auto">Set Date</button>
                    </form>
                </div>
            }
            else
            {
                <div class="form-info__item">
                    <div class="form-info__label">Due Date: </div>
                    <div class="form-info_data">
                        @{
                            string date = Model.MaintenanceExpectedFinish.ToString();
                            date = date.Remove(date.Length - 8);
                        }
                        @date
                    </div>
                </div>
            }
        }
        else
        {
            <div class="form-info__item">
                <div class="form-info__label">Finish Date: </div>
                <div class="form-info_data">
                    @Model.MaintenanceFinish
                </div>
            </div>
        }

        @if (ViewData["Scans"] != null)
        {
            List<DocScan> scans = (List<DocScan>)ViewData["Scans"];
            if (scans.Count > 0)
            {
                <div class="scan-images">
                    <div class="form-info__heading">Related Documents:</div>
                    @{
                        foreach (var scan in scans)
                        {
                            <div class="scan-images__item">
                                <img data-fancybox="docs" alt="" src="data:image/jpg;base64,@scan.base64Image" />
                                <span class="scan-images__item-filename">@scan.Filename</span>
                            </div>
                        }
                    }
                </div>
            }
        }

        @if (Model.IsOpen == true)
        {
            <div class="form-pos form-upload">
                <div class="form-info__heading">Upload Documents (image scans):</div>
                <form id="UploadPhotos" enctype="multipart/form-data" method="post"
                      asp-controller="Shared" asp-action="UploadImg"
                      asp-route-controllerID="@ViewData["Controller"]"
                      asp-route-equipmentId="@Model.Equipment.Id"
                      asp-route-maintenanceId="@Model.Id">
                    <div class="form-info__item">
                        <div class="form-info__item-inputs">
                            <input type="file" name="imgfilepath" accept=".jpg, .jpeg, .png, .gif">
                        </div>
                        <span class="btn btn-alter btn-auto js-add-more-inputs">Add More Files</span>
                    </div>
                    <button class="btn btn-primary btn-auto">Upload</button>
                </form>
            </div>
        }

        <!-- ADD NOTE -->
        @if (Model.IsOpen == true)
        {
            ViewData["EquipmentId"] = Model.Equipment.Id;
            ViewData["EntityType"] = "Maintenance";
            ViewData["EntityId"] = Model.Id;
            ViewData["Heading"] = "Maintenance notes";
            <partial name="_FormAddNote" view-data="ViewData" />
        }
        <!-- HISTORY -->
        @{
            ViewData["Type"] = "Maintenance";
            ViewData["EntityId"] = Model.Id;
            <partial name="_History" view-data="ViewData" />
        }

        @{
            if (Model.IsOpen == true && Model.Equipment.Status.Title == "SP")
            {
                <a asp-controller="Shared" asp-action="MaintenanceChangeStatus"
                   asp-route-controllerID="@ViewData["Controller"]"
                   asp-route-equipmentId="@Model.Equipment.Id"
                   asp-route-maintenanceId="@Model.Id"
                   class="btn btn-alter btn-auto">Equipment Need Repairs</a>
            }
        }

        @if (Model.IsOpen == true)
        {
            <span class="btn btn-primary btn-auto js-form-show">Close Maintenance</span>
            <div class="form-pos form-close-maintenance hidden">
                <form method="post" asp-controller="Shared" asp-action="CloseMaintenance"
                      asp-route-controllerId="@ViewData["Controller"]"
                      asp-route-equipmentId="@Model.Equipment.Id"
                      asp-route-maintenanceId="@Model.Id">
                    <div class="form-info__heading">Results of Maintenance:</div>
                    <div class="form-group">
                        <label class="control-label">Equipment Status</label>
                        <select name="equipmentStatus" class="form-select">
                            <option value="RFU">RFU</option>
                            <option value="Scrap">Scrap</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Operating Time (hours)</label>
                        <input name="operatingTime" type="number" min="0" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Alert for Minimal Operating Time (hours)</label>
                        <input name="operatingTimeMin" type="number" min="0" value="@(Model.Equipment.OperatingTimeMin / 60)" class="form-control" />
                    </div>
                    <div class="text-danger hidden"></div>
                    <button class="btn btn-auto btn-primary">Close Maintenance</button>
                </form>
            </div>
        }

    </div>