﻿@{
    ViewData["Title"] = "Home Page";
}

<h1>About InventoryProject prototype</h1>
<p>Basic functions for working with equipment inventarization: </p>
<p> - adding clients (and new details about them, such as cotracts, wells.)</p>
<p> - adding equipment</p>
<p> - viewing list of equipment, with all needed information</p>
<p> - viewing detailed information about equipment (including it's history of usage)</p>
<p> - viewing maintenance tickets</p>

